---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { useTranslations } from "../../i18n/useTranslations";
import bio from "../../data/bio.json";

const tools = await getCollection("tools");
const locale = Astro.currentLocale ?? "en";
const t = useTranslations(locale);
---

<section
  class="w-full bg-card rounded border-2 border-border hover:border-primary p-6 group transition-colors"
>
  <div class="flex flex-col items-center lg:flex-row gap-6">
    <figure
      class="w-32 h-32 flex items-center bg-primary self-center overflow-hidden rounded-full border-border border-4 shrink-0 transition-colors group-hover:border-primary"
    >
      <Image width={120} height={120} src="/portrait.jpg" alt="avatar pic :3" />
    </figure>
    <div class="space-y-4">
      <h1
        class="font-bold text-2xl text-foreground"
        set:html={locale === "en" ? bio.en.heading : bio.ru.heading}
      />
      <p class="text-foreground text-xl">
        {locale === "en" ? bio.en.body : bio.ru.body}
      </p>
    </div>
  </div>
  <h2 class="text-xl text-primary lg:text-center mt-6 mb-2">
    {t("home.hero")["stack"]}
  </h2>
  <div>
    <ul class="flex lg:justify-center gap-1 md:gap-2 lg:gap-4 flex-wrap items-center">
      {
        tools?.map((tool) => {
          return (
            <li class="text-foreground text-lg">
              <a set:html={tool.data.icon} href={tool.data.tool_url} class="flex flex-row-reverse justify-center items-center gap-2 border-border p-2 rounded hover:border-primary border-2 transition-colors">
                <span>{tool.data.title}</span>
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
