<footer
  class="flex flex-col justify-center items-center w-full min-h-24 border-t-gray-600 bg-primary text-primary"
>
  <p class="text-sm text-center">
    
    <a class="underline" href="https://caddyserver.com"> Caddy </a>
    <span class="block text-sm text-gray-600">
        
    </span>
  </p>
  <p class="text-xs">
    
    <a class="underline" href={"/about"}>
        
    </a>
  </p>
</footer>
