---
import { languages, defaultLang } from "../i18n/ui"

const currentPath = Astro.url.pathname;
console.log(currentPath)

---

<ul class="flex gap-2 lg:flex-col">
  {
    Object.entries(languages).map(([lang]) => (
      <li class="text-foreground w-full h-full bg-background border-foreground border-2 hover:bg-foreground text-sm md:text-base transition-colors hover:text-background">
        <a class="w-full h-full p-4" href={`/${lang === defaultLang ? "" : lang}`}>{lang}</a>
      </li>
    ))
  }
</ul>
