---
import { languages } from "../i18n/ui";
import { getRelativeLocaleUrl } from "astro:i18n";

const currentPath = Astro.url.pathname;
const currentLocale = Astro.currentLocale;
---

<ul class="flex gap-2 items-center justify-center lg:flex-col">
  {
    Object.entries(languages).map(([lang]) => (
      <li
        class:list={
           "flex text-foreground font-semibold bg-background border-foreground border-2 hover:bg-foreground text-sm md:text-base transition-colors hover:text-background" +
          (currentLocale === lang ? " bg-primary text-background" : "")
        }
      >
        <a class="flex-1 text-center p-3"
          href={getRelativeLocaleUrl(
            lang,
            currentPath.replace(`/${currentLocale}`, "")
          )}
        >
          {lang}
        </a>
      </li>
    ))
  }
</ul>
