---
import LanguagePicker from "./LanguagePicker.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import { getCollection } from "astro:content";
import CVDownload from "./CVDownload.astro";

const socials = await getCollection("socials");
---

<nav
  class="sticky z-50 bg-popover left-0 top-0 max-h-max items-center border-b-border border-b-2 lg:flex-col lg:h-full lg:w-max lg:border-l-2 lg:border-l-border lg:border-b-none lg:hover:border-primary transition-colors lg:rounded-bl"
>
  <div
    class="flex justify-between gap-4 px-6 py-4 lg:flex-col lg:gap-6 lg:items-center"
  >
    <ThemeSwitcher />
    <div class="flex items-center gap-4 lg:flex-col">
      <span class="h-1/2 w-[2px] lg:w-full lg:h-[2px] bg-border"></span>
      <ul class="flex gap-4 lg:flex-col">
        {
          socials.map((social) => (
            <li>
              <a
                set:html={social.data.icon}
                href={social.data.link}
                class="text-foreground hover:text-primary"
              />
            </li>
          ))
        }
      </ul>
      <span class="h-1/2 w-[2px] lg:w-full lg:h-[2px] bg-border"></span>
      <LanguagePicker />
      <span class="h-1/2 w-[2px] lg:w-full lg:h-[2px] bg-border"></span>
      <CVDownload />
    </div>
  </div>
</nav>
